

<% @parking_entrance.attributes.each do |attribute| %>
  <p>
    <strong><%= attribute[0] %></strong>
    <%= attribute[1] %>
  </p>
<% end %>

<%= link_to 'Edit', edit_parking_entrance_path(@parking_entrance) %> |
<%= link_to 'Back', parking_entrances_path %>
