
<% @trails_desc.attributes.each do |attribute| %>
  <p>
    <strong><%= attribute[0] %></strong>
    <%= attribute[1] %>
  </p>
<% end %>

<%= link_to 'Edit', edit_trails_desc_path(@trails_desc) %> |
<%= link_to 'Back', trails_descs_path %>
