
<p id="notice"><%= notice %></p>

<h1>Dashboard#trail</h1>

<h2>Trails with Current or Future Alerts</h2>
<%= render partial: 'table', locals: {items: @trails_active, alertable_type: "TrailSystem"} %>

<br>
<h2>All Trail Subsystems</h2>

<%= render partial: 'table', locals: {items: @trails, alertable_type: "TrailSystem"} %>
<%= will_paginate @trails, renderer: BootstrapPagination::Rails %>
