
<% @picnicgrofe.attributes.each do |attribute| %>
  <p>
    <strong><%= attribute[0] %></strong>
    <%= attribute[1] %>
  </p>
<% end %>

<%= link_to 'Edit', edit_picnicgrofe_path(@picnicgrofe) %> |
<%= link_to 'Back', picnicgroves_path %>
