// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[id^=toggle],
[id^=toggle] + *{
  display:none;
}
[id^=toggle]:checked + *{
  display:block;
}

li.dashboard {padding:5px}
ul.dashboard {padding-left: 20px}

form#pointsofinterest_search{padding:15px 30px}
.form-new{padding:15px}
.form-inline .form-control{display:inline-block;width:auto;vertical-align:middle;margin-right:30px}
a.btn.btn-xs.btn-primary:visited,a.btn.btn-xs.btn-danger:visited{color:#fff}
h1,.h1,h2,.h2,h3,.h3{margin-top:20px;margin-bottom:40px}
.reduced-vis{opacity:0.4}

