
<% @activity.attributes.each do |attribute| %>
  <p>
    <strong><%= attribute[0] %></strong>
    <%= attribute[1] %>
  </p>
<% end %>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
