<p id="notice"><%= notice %></p>

<p>
  <strong>Trail subsystem:</strong>
  <%= @trail_system.trail_subsystem %>
</p>

<%= link_to 'Edit', edit_trail_system_path(@trail_system) %> |
<%= link_to 'Back', trail_systems_path %>
