
<% @trail_system.attributes.each do |attribute| %>
  <p>
    <strong><%= attribute[0] %></strong>
    <%= attribute[1] %>
  </p>
<% end %>

<%= link_to 'Edit', edit_trail_system_path(@trail_system) %> |
<%= link_to 'Back', :back %>
