
<% @poi_desc.attributes.each do |attribute| %>
  <p>
    <strong><%= attribute[0] %></strong>
    <%= attribute[1] %>
  </p>
<% end %>

<%= link_to 'Edit', edit_poi_desc_path(@poi_desc) %> |
<%= link_to 'Back', poi_descs_path %>
