
<% @new_trail.attributes.each do |attribute| %>
  <p>
    <strong><%= attribute[0] %></strong>
    <%= attribute[1] %>
  </p>
<% end %>

<%= link_to 'Edit', edit_new_trail_path(@new_trail) %> |
<%= link_to 'Back', new_trails_path %>
